.navbar{position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: aquamarine;
}
.navbar_row{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:10px;
}
.navbar_row a{
    width: 150px;
    color:#54b3d6;
    padding: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    transition:  color .4s  ease-in-out;
}
.navbar_row a:hover{
    color: white;
}


.brand_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: x-large;
    width: 62%;
}